

<div class="container">
  <div class="row">
      <h1>Resident to Utility </h1>  
  </div><!-- /row -->

  <div class="row">
    <br>
  </div><!-- /row -->

  <div class="row">
    <div *ngIf="transactionFrom" class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Execute Transaction</div>
        <div class="panel-body">
        <p>Time Interval: 1:00 pm - 2:00 pm</p>
          <form [formGroup]="myForm">
            
            <p>Resident: </p>           
              <select name="residents" formControlName="formResidentID">
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>

            <p>Utility Company: </p>
              <select name="utilityCompanys" formControlName="formUtilityID" >
                <option *ngFor="let utilityCompany of allUtilityCompanys" value="{{utilityCompany.utilityID}}">{{utilityCompany.utilityID}}</option>
              </select>

            <p>Action: </p>           
              <select name="actions" formControlName="action">
                <option value="buyEnergy">Buy Energy from Utility Company</option>
                <option value="sellEnergy">Sell Energy to Utility Company</option>
              </select>

            <p>Energy (kwh):</p>
              <input formControlName="energyValue" type="number" step='any' class="form-control">
            <p>Coins: </p>
              <input formControlName="coinsValue" type="number" step='any' class="form-control">
            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Transaction Executed</div>
        <div class="panel-body">
        <p>Time Interval: 1:00 pm - 2:00 pm</p>
          <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>
            <!-- p>Energy Provided ID: {{energyProvidedID}}</p>
            <p>Coins Credited ID: {{coinsCreditID}}</p>             
           <br>
            <p>Consumer: {{formUtilityID.value}}</p>           
            <p>Energy Received ID: {{energyReceivedID}}</p>
            <p>Coins Debited ID: {{coinsDebitID}}</p>             
           <br>
            <p>Energy exchanged: {{energyValue.value}}</p>
            <p>Coins exchanged: {{coinsValue.value}}</p-->
          </form>
        </div>
      </div>
    </div>

  </div><!-- /row -->

  <div class="row">  
    <div *ngIf="transactionFrom" class="col-md-4">
      <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >Execute Transaction</button>	  
    </div>
  </div><!-- /row -->

  <div class="row">
    <br>
    <br>
  </div><!-- /row -->


</div>