<nav class="navbar navbar-inverse navbar2">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navfont" href="#">Decentralized Energy</a>
      
    </div>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown navfontAbout">
            <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">Info
              <span class="caret navfont"></span></a>
            <ul class="dropdown-menu">
              
              <li><a [routerLink]="['/About']">About</a></li>
              <li><a [routerLink]="['/AllTransactions']">Blockchain</a></li>              
            </ul>
          </li>

      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">Participants
          <span class="caret navfont"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Resident']">Residents</a></li>
          <li><a [routerLink]="['/Bank']">Banks</a></li>
          <li><a [routerLink]="['/UtilityCompany']">Utility Companies</a></li>
 
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">Transactions
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/TransactionRR']">Resident to Resident</a></li>
          <li><a [routerLink]="['/TransactionRU']">Resident to Utility Company</a></li>
          <li><a [routerLink]="['/TransactionRB']">Resident to Bank</a></li>
 
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">Assets
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Coins']">Coins</a></li>
          
          <li><a [routerLink]="['/Energy']">Energy</a></li>

          <li><a [routerLink]="['/Cash']">Cash</a></li>
          
        </ul>
      </li>

      

    </ul>
  </div>
</nav>

<div class = "bodybackground">
  <router-outlet></router-outlet>
</div>


