

<div class="container">
  <div class="row">  
      <p> 
        A key application of Blockchain being currently explored is a Decentralized Energy network.  The idea stems from a neighborhood where certain Residents are producing energy through Solar panels or other means, and can sell excess energy to Residents needing energy.  The transactions would be based on coins in each Resident's account.  As per a per-determined contract and rate, the coins would be debited from the consumer and credited to the producer, for a certain billing period.  Each transaction would be added to the Blockchain ledger for trust and verification. The network can include Banks to transact coins for Fiat currency.  The network can have Utility Company who can buy or provide energy through the network.
        </p>
      <p>
        In this journey, we are making an application using Hyperledger Composer which would create Participants (Residents, Banks, Utility Companies) on the network with their account balances, and to execute transactions between Residents, a Resident and Bank, and a Resident and Utility Company. The journey demonstrates atomic transaction between the participants and updates their balances as per the transaction. 
      </p>
      <p>
        The application uses an Angular framework for front-end and currently allows users to manually create the Participants and Execute transactions.  Currently this application demonstrates the basic idea of a decentralized energy network and can be expanded in numerous ways:  adding specific permissions and channel, setting up real time transactions among participants, and even integrating with IoT to read from power meter and distributing energy.  
      </p>
  </div> 

  
</div>